GOOGLE_MAPS_API_KEY=
GROQ_API_KEY=
GROQ_MODEL=meta-llama/llama-4-scout-17b-16e-instruct
GROQ_SPEECH_MODEL=whisper-large-v3
AUDIO_MAX_FILE_SIZE_MB=25
GOOGLE_SEARCH_RADIUS_METERS=5000
GOOGLE_NEAR_ME_RADIUS_METERS=2500
GOOGLE_LANGUAGE=fr
GOOGLE_REGION=ma
